{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
  <div class="content-container">
    <div class="about-container">
      <p>logof(HW) is an online homework log developed by the SMIC Computer Club for SMIC students.</p>
      <p>It is the product of many months of arduous labor from a student just like you. </p>
      <p>In addition, logof(HW) costs lots of money to maintain.</p>
      <p>Please consider donating if you find this tool useful!</p>
      {% load static %}<img src="{% static 'log/images/paymentQR.jpg' %}" class="QR">
    </div>
  </div>
{% endblock %}
