{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
  <div class="content-container">
    <div class="about-container">
      <p>logof(HW) is a free online homework tracking app developed by the SMIC Computer Club for SMIC students.</p>
      <p>It is the product of many months of arduous labor from students just like you. </p>
      <p>In addition, logof(HW) costs lots of money to maintain.</p>
      <p>Please consider donating if you find this tool useful!</p>
      [link to wechat QR]
    </div>
  </div>
{% endblock %}
