<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'log/style.css' %}" />
  <title>{% block title %}log(HW){% endblock %}</title>
  <meta name='viewport'
    content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
</head>
<body>
  <header>
    {% load static %}
    <a href="{% url 'home' %}"><img src= "{% static 'log/images/logo.svg' %}" class='header-logo'/></a>
    <ul class='menu'>
      {% if user.is_authenticated %}
        <li class='hi-message'> Hi {{ user.username }}! </li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li><a href="#"> Sign up </a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
    </div>
  </header>
  <div style='height:90px;'></div>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
  <footer>
    <p> footer </p>
  </footer>
</body>
</html>
