<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'log/style.css' %}" />
  <title>{% block title %}log(HW){% endblock %}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1' />
</head>
<body>
  <div class='wrapper'>
    <header>
      <div class='menu-container'>
        <a href="{% url 'home' %}">{% load static %}<img src= "{% static 'log/images/logo.svg' %}" class='header-logo'/></a>
        <ul class='menu'>
          {% if user.is_authenticated %}
            <li class='hi-message'><strong>{{ user.username }}</strong></li>
            <li><a href ="{% url 'configure' %}" class='menu-text'> Settings </a></li>
            <li><a href ="{% url 'change_password' %}" class='menu-text'> Change password </a></li>
            <li><a href="{% url 'logout' %}" class='menu-text'>Logout</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}" class='menu-text'> Sign up </a></li>
            <li><a href="{% url 'login' %}" class='menu-text'>Login</a></li>
          {% endif %}
        </ul>
      </div>
    </header>
    <main style="margin-top: 20px;">
      {% block content %}
      {% endblock %}
    </main>
    <div class="push"></div>
  </div>
  <footer>
    <div class="footer-container">
      <p> Provided to you by the SMIC Computer Club </p>
    </div>
  </footer>
</body>
</html>
