<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'log/style.css' %}" />
  <link rel="stylesheet" href="{% static 'log/stylesheet.css' %}" type="text/css" charset="utf-8" />
  <title>{% block title %}log(HW){% endblock %}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <link rel="shortcut icon" href="{% static 'log/images/favicon.ico' %}"/>


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114028413-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-114028413-1');
  </script>

</head>
<body>
  <div class='wrapper'>
    <header>
      <div class='menu-container'>
        <a href="{% url 'home' %}">{% load static %}<img src= "{% static 'log/images/logo.svg' %}" class='header-logo'/></a>
        <ul class='menu'>
          {% if user.is_authenticated %}
            <li class='hi-message'><strong>{{ user.username }}</strong></li>
            <li class='menu-text'><a href ="{% url 'configure' %}"> Settings </a></li>
            <li class='menu-text'><a href ="{% url 'change_password' %}"> Change password </a></li>
            <li class='menu-text'><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li class='menu-text'><a href="{% url 'about' %}">About</a></li>
            <li class='menu-text'><a href="{% url 'signup' %}"> Sign up </a></li>
            <li class='menu-text'><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <div class="push"></div>
  </div>
  <footer>
    <div class="footer-container" style="justify-content: center">
      <p> Made by Danny Yu of the SMIC Computer Club</p>
    </div>
    <div class="footer-container">
      <div style="display:flex; flex-direction: column; align-items: center;">
        <img style="height:100px; width:100px; margin-bottom:10px;" src="{% static 'log/images/SupportGroupQR.jpg' %}" />
        <p>Join the support group!</p>
      </div>
      <p><a href="{% url 'about' %}" class="about-link">About</a></p>
    </div>
  </footer>
</body>
</html>
