{% extends 'base.html' %}
{% block title %}Settings{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <form method="post">
      <div class="content-container">
        <div class="lgn-container">
          <h1 class="content-heading">Select your classes</h2>
          {% csrf_token %}
          {% load widget_tweaks %}
          <div class="form-row">
            <label for='c1'>Class 1:</label>
            {% render_field form.course_1 id+="c1" %}
          </div>
          <div class="form-row">
            <label for='c2'>Class 2:</label>
            {% render_field form.course_2 id+="c2" %}
          </div>
          <div class="form-row">
            <label for='c3'>Class 3:</label>
            {% render_field form.course_3 id+="c3" %}
          </div>
          <div class="form-row">
            <label for='c4'>Class 4:</label>
            {% render_field form.course_4 id+="c4" %}
          </div>
          <div class="form-row">
            <label for='c3'>Class 5:</label>
            {% render_field form.course_5 id+="c5" %}
          </div>
          <div class="form-row">
            <label for='c3'>Class 6:</label>
            {% render_field form.course_6 id+="c6" %}
          </div>
          <div class="form-row">
            <label for='c3'>Class 7:</label>
            {% render_field form.course_7 id+="c7" %}
          </div>
          <button type="submit" class="btn">Submit</button>
        </div>
      </div>
    </form>
  {% else %}
    <a href="{% url 'login' %}">Login before you can edit! </a>
  {% endif %}
{% endblock %}
