{% extends 'base.html' %}
{% block title %}Edit HW{% endblock %}

{% block content %}
  <div class="content-container">
    <div class="lgn-container detail-container">
      {% if user.is_authenticated %}
        <h1 class="content-heading detail-heading">{{course.course_name}}</h2>
        <form method="post">
          {% csrf_token %}
          <div class="form-row">
            {% load widget_tweaks %}
            {% render_field form.hw_text class+="hw-textarea" %}
          </div>
          <button type="submit" class="btn orange">Save changes</button>
        </form>
      {% else %}
        <a href="{% url 'login' %}">Login before you can edit! </a>
      {% endif %}
    </div>
    <h2 style="margin-bottom: 15px"> Previous Homeworks </h2>
    {% for homework in latest_hw_list %}
    <div class="extra-hw-box">
      <p>{{homework.hw_text}}</p>
      <div class="date">{{homework.poster}} - {{homework.get_pub_date}}</div>
    </div>
    {% endfor %}
    <a href="{% url 'log:history' course_id=course.id %}">See full history</a>
  </div>
{% endblock %}
