{% extends 'base.html' %}
{% block title %}Index{% endblock %}

{% block content %}
  <div class="index-main">
    {% if user.is_authenticated %}
      {% if user.courses_joined.count > 0 %}
        <div class="log-container">
          {% for course in user.courses_joined.all %}
            {% if course.course_name == "None" %}
            {% else %}
              <div class="log-container-row">
                <div class="course-name-box">
                  {{course.course_name}}
                  {% if course.get_latest_hw.was_published_recently == False %}
                    {% load static %}<img src="{% static 'log/images/warning.svg' %}" class="warning-icon"/>
                  {% endif %}
                  <a href="{% url 'log:detail' course.id %}">
                    {% load static %}<img src="{% static 'log/images/edit-icon.svg' %}" class="edit-icon"/></a>
                </div>
                <div class="hw-box">{{course.get_latest_hw.hw_text}}</div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <a href = "{% url 'configure' %}">Please select your classes first!</a>
      {% endif %}
    {% else %}
    <div class="section">
      <div class="home-boxes">
        <p class="box-label">Already have an account? </p>
        <a href="{% url 'login' %}" class="button-link"><div class="button"> Login </div></a>
      </div>
      <div class="home-boxes">
        <p class="box-label"> Don't have an account? </p>
        <a href="{% url 'signup' %}" class="button-link"><div class="button"> Sign up </div></a>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock content %}
