{% extends 'base.html' %}
{% block title %}log(HW){% endblock %}

{% block content %}
  <script>
    function strikeThrough(clicked_id){
      element = document.getElementById(clicked_id);
      if (element.style.textDecoration == "none"){
        element.style.setProperty("text-decoration", "line-through");
      }
      else{
        element.style.setProperty("text-decoration", "none");
      }
    }
  </script>
  <div class="content-container">
    {% if user.is_authenticated %}
      {% if user.courses_joined.count > 0 %}
        <div class="log-container">
          {% for course in user.courses_joined.all %}
            {% if course.course_name == "--None--" %}
            {% else %}
              <div class="log-container-row">
                <div class="course-name-box">
                  {{course.course_name}}
                  {% if course.get_latest_hw.was_published_recently == False  %}
                    {% load static %}<img src="{% static 'log/images/warning.svg' %}" class="warning-icon" title="Not updated today"/>
                  {% endif %}
                  <a href="{% url 'log:detail' course.id %}">
                    {% load static %}<img src="{% static 'log/images/edit-icon.svg' %}" class="edit-icon" title="Edit"/></a>
                </div>
                <div class="hw-box" onclick="strikeThrough(this.id)" id="{{course.id}}">
                  {{course.get_latest_hw.hw_text}}
                  <div class="date">{{course.get_latest_hw.get_pub_date}}</div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          <div class="log-container-row">
            <div class="course-name-box">
              Personal Reminder
              <a href="{% url 'log:reminder' %}">
                {% load static %}<img src="{% static 'log/images/edit-icon.svg' %}" class="edit-icon" title="Edit"/></a>
            </div>
            <div class="hw-box" onclick="strikeThrough(this.id)" id="{{course.id}}">
              {{user.reminder.hw_text}}
            </div>
          </div>
        </div>
      {% else %}
        <a href = "{% url 'configure' %}">Please select your classes first!</a>
      {% endif %}
    {% else %}
      <div class="index-top-section">
        <div class="index-container">
          <div class="index-box">
            <span class="index-heading-text">Made for students, by students</span>
            <span class="index-banner-text">log(HW) is a platform for students to share and keep track of homework assignments more effectively. </span>
          </div>
          <div class="button-container">
            <figure>
              <a href="{% url 'login' %}">
                <div>
                  <span class="cool-button">Already have an account?</span>
                  <span class="cool-button">Login </span>
                </div>
              </a>
            </figure>
            <figure>
              <a href="{% url 'signup' %}">
                <div>
                  <span class="cool-button">Don't have an account?</span>
                  <span class="cool-button">Sign Up</span>
                </div>
              </a>
            </figure>
          </div>
        </div>
      </div>
      <div class="index-button-container">
        <div class="home-boxes">
          <p class="box-label">Already have an account? </p>
          <a href="{% url 'login' %}" class="button-link"><div class="button"> Login </div></a>
        </div>
        <div class="home-boxes">
          <p class="box-label"> Don't have an account? </p>
          <a href="{% url 'signup' %}" class="button-link"><div class="button"> Sign up </div></a>
        </div>
      </div>
      <div class="log-container index-description-text" style="margin-top: 30px;">
        It's a common sight to see a student desperately scribble down the homework before hurriedly dashing to the next class. <br>
        Or in other cases, the student might have forgotten to entirely. <br>
        Or perhaps the student is simply too lazy. <br><br>
        Cue log(HW). <br><br>
        log(HW) allows each student to personalize his/her own online homework log.
        Only one person needs to upload the homework, and everyone will be able to see it on their own homework logs. <br>
        log(HW) combines the best of both worlds—it retains the compact format of a traditional homework log, and it is also digitized to facilitate the sharing of homework.

      </div>


    {% endif %}
  </div>
{% endblock content %}
