{% extends 'base.html' %}
{% block title %}Index{% endblock %}

{% block content %}
  <div class="index-main">
    {% if user.is_authenticated %}
      <div> The thingy </div>
    {% else %}
    <div class="section">
      <div class="home-boxes">
        <p>Already have an account? </p>
        <a href="{% url 'login' %}" class="button-link"><div class="button"> Login </div></a>
      </div>
      <div class="home-boxes">
        <p> Don't have an account? </p>
        <a href="{% url 'signup' %}" class="button-link"><div class="button"> Signup </div></a>
      <div>
    </div>
    {% endif %}

  </div>
{% endblock content %}
