{% extends 'base.html' %}
{% block title %}Index{% endblock %}

{% block content %}
  <div class="index-main">
    {% if user.is_authenticated %}
      {% if user.classes %}
        <div> The thingy </div>
      {% else %}
        <div class="content-container">
          <div class="form-container">
            <h1> Choose your classes <h1/>
            <form>
              <div class='form-row'>
                <label for='class-select1'>Class 1:</label>
                <select id='class-select1' name='class1'>
                  <option value=''>None</option>
                </select>
              </div>
              <div class='form-row'>
                <label for='class-select2'>Class 2:</label>
                <select id='class-select2' name='class2'>
                  <option value=''>None</option>
                </select>
              </div>
              <div class='form-row'>
                <label for='class-select3'>Class 3:</label>
                <select id='class-select3' name='class3'>
                  <option value=''>None</option>
                </select>
              </div>
              <div class='form-row'>
                <label for='class-select3'>Class 4:</label>
                <select id='class-select3' name='class3'>
                  <option value=''>None</option>
                </select>
              </div>
              <div class='form-row'>
                <label for='class-select3'>Class 5:</label>
                <select id='class-select3' name='class3'>
                  <option value=''>None</option>
                </select>
              </div>
              <div class='form-row'>
                <label for='class-select3'>Class 6:</label>
                <select id='class-select3' name='class3'>
                  <option value=''>None</option>
                </select>
              </div>
              <div class='form-row'>
                <label for='class-select3'>Class 7:</label>
                <select id='class-select3' name='class3'>
                  <option value=''>None</option>
                </select>
              </div>
              <input type="submit" class="btn" />
            </form>
          </div>
        </div>
      {% endif %}
    {% else %}
    <div class="section">
      <div class="home-boxes">
        <p>Already have an account? </p>
        <a href="{% url 'login' %}" class="button-link"><div class="button"> Login </div></a>
      </div>
      <div class="home-boxes">
        <p> Don't have an account? </p>
        <a href="{% url 'signup' %}" class="button-link"><div class="button"> Signup </div></a>
      <div>
    </div>
    {% endif %}

  </div>
{% endblock content %}
