* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: sans-serif;
}

p {
  font-size: 30px;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px;
  background: #d3d3d3;
}
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  padding: 10px;
  background: #d3d3d3;
}

.menu-container {
  display: flex;
  width: 900px;
  justify-content: space-between;
  align-items: center;
}

.hi-message {}

.header-logo {
  height: 50px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu>li {
  display: inline;
  margin-right: 50px;
}

.menu>li:last-of-type {
  margin-right: 0;
}

.menu> li > a:link, .menu> li > a:visited {
  color:  #808080;
  text-decoration: none;
  font-size: 24px;
}

.menu> li >a:hover {
  color: #A9A9A9;
  text-decoration: none;
  font-size: 24px;
}

.index-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 15px;
  width: 300px;
  height: 200px;
  background-color: #D0D0D0;
  margin: 50px;
  font-size: 60px;
}
.button:hover{
  background-color: #BCBCBC
}
.button-link:link, .button-link:visited{
  text-decoration: none;
  color: black;
}
.home-boxes{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media only screen and (max-width: 400px) {}


/* Tablet Styles */

@media only screen and (min-width: 401px) and (max-width: 960px) {}


/* Desktop Styles */

@media only screen and (min-width: 961px) {}
