* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {

}
body {
  font-family: "Segoe UI", "Arial", sans-serif;
}
html,body{
  height: 100%;
}
main{
  margin-top: 10px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 10px;
  background: #404040;
}
footer {
  width: 100%;
  height: 200px;
  padding: 10px;
  background: #404040;
  margin-top: 10px;
}
.push{
  height: 105px;
}
.wrapper{
  min-height: 100%;
  margin: 0 auto -105px;
}
.footer-container{
  display: flex;
  padding: 20px;
  justify-content: center;
  color:  #d6d6d6;

}
.log-container{
  width: 100%;
}
.log-container-row{
  display:flex;
  flex-direction: row;
  width:100%;
  height: 160px;
  margin-bottom: 5px;
}
.log-container-row:last-of-type{
  margin-bottom: 0;
}
.course-name-box{
  width: 40%;
  padding: 15px;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 0.95em;
  color: white;
  background-color: #505050;
}
.hw-box{
  width: inherit;
  display: flex;
  padding: 10px;
  background-color: #e8e8e8;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  height: 40px;
}

.menu> .menu-text {
  display: inline;
  text-align: center;
}

.menu> li > a:link, .menu> li > a:visited {
  color:  #d6d6d6;
  text-decoration: none;
}

.menu> li >a:hover {
  color: #efefef;
  text-decoration: none;
}

.menu-text{
  font-size: 0.93em;
}
.hi-message {
  display: none;
}
.index-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.index-top-section{
  width: 100%;
  height: 300px;
  background-color: #505050;
  margin-top: -20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 15px;
  width: 300px;
  height: 200px;
  background-color: #D0D0D0;
  margin: 50px;
  font-size: 60px;
}
.button:hover{
  background-color: #BCBCBC
}
.button-link:link, .button-link:visited{
  text-decoration: none;
  color: black;
}
.home-boxes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.box-label{
  display: none;
  font-weight: bold;
  font-family: "Montserrat", "Segoe UI", sans-serif;
}
.home-boxes > p{
  font-size: 30px;
}
.content-container{
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
  margin: 90px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

}
.content-heading{
  margin-bottom: 25px;
  text-align: center;
}
.lgn-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 30px;
  padding: 50px;
  background-color: lightgrey;
  border: 2px solid black;
}
.lgn-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
td {
    margin-bottom: 15px;
}
.btn {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}
.btn:hover {
  background-color: #76AEED;
}
.form-row {
  margin-bottom: 1.3em;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.form-label {
  margin-right: 1em;
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: lightgrey;
  border: 2px solid black;
}
.edit-icon{
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 17%;
}
.warning-icon{
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20%;
}
.icon-flex{
  display:flex;
}
.extra-hw-box{
  display: flex;
  width: 90%;
  padding: 15px;
  background-color: #e8e8e8;
  margin-bottom: 15px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
@media only screen and (max-width: 400px) {}


/* Tablet Styles */

@media only screen and (min-width: 401px) and (max-width: 960px) {}


/* Desktop Styles */

@media only screen and (min-width: 961px) {
  .menu-container {
    width: 961px;
  }
  .log-container{
    width: 961px;
  }
  .hi-message,.menu-text{
    font-size: 1.2em;
  }
  .hi-message{
    display: inline;
    color: #FFFFFF;
  }
  .course-name-box{
    font-size: 1.1em;
  }
  .menu-container {
    flex-direction: row;
  }
  header {
    height: 60px;
  }
  .home-boxes{
    flex-direction: row;
  }
  .box-label{
    display: block;
  }
  .log-container-row{
    height: 110px;
  }
  .menu {
    width: 550px;
    justify-content: flex-end;
  }
  .extra-hw-box{
    width: 961px;
  }
  .menu>li {
    margin-right: 50px;
  }
  .menu>li:last-of-type {
    margin-right: 0px;
  }
}
