* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {

}
body {
  font-family: "Segoe UI", "Arial", sans-serif;
}
html,body{
  height: 100%;
}
main{
  margin-top: 10px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 10px;
  background: #24292E;
}
footer {
  width: 100%;
  height: 200px;
  padding: 10px;
  background: #24292E;
  margin-top: 10px;
}
.push{
  height: 105px;
}
.wrapper{
  min-height: 100%;
  margin: 0 auto -105px;
}
.footer-container{
  display: flex;
  padding: 20px;
  justify-content: center;
  color:  #d6d6d6;

}
.log-container{
  width: 100%;
}
.log-container-row{
  display:flex;
  flex-direction: row;
  width:100%;
  height: 160px;
  margin-bottom: 5px;
}
.log-container-row:last-of-type{
  margin-bottom: 0;
}
.course-name-box{
  width: 40%;
  padding: 15px;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 0.95em;
  color: white;
  background-color: #505050;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23353535' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
.hw-box{
  width: inherit;
  display: flex;
  position: relative;
  padding: 10px;
  background-color: #e8e8e8;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  height: 40px;
}

.menu> .menu-text {
  display: inline;
  text-align: center;
}

.menu> li > a:link, .menu> li > a:visited {
  color:  #d6d6d6;
  text-decoration: none;
}

.menu> li >a:hover {
  color: #efefef;
  text-decoration: none;
}

.menu-text{
  font-size: 0.93em;
}
.hi-message {
  display: none;
}
.index-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.index-top-section{
  width: inherit;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  background-color: #434343;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%2324292e' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");

}
.index-box{
  height: 100%;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.index-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  width: 100%;
}
.index-heading-text{
  font-family: 'robotoregular', 'Segoe UI', sans-serif;
  font-size: 2.4em;
  color: white;
  margin-bottom: 0.5em;
  text-align: center;
}
.index-banner-text{
  margin-right: 20px;
  font-family: 'robotoregular', 'Segoe UI', sans-serif;
  color: #AAADAF;
  font-size:1.3em;
  text-align: center;
}
.index-description-text{
  font-family: 'robotoregular', 'Segoe UI', sans-serif;
  color: black;
  font-size:20px;
  text-align: center;
}
.index-logo{
  display: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 0.5em;
  width: 5em;
  height: 4em;
  background-color: #D0D0D0;
  margin: 0.5em 0;
  font-size: 3em;
}
.button:hover{
  background-color: #BCBCBC
}
.button-link:link, .button-link:visited{
  text-decoration: none;
  color: black;
}
.home-boxes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.box-label{
  display: none;
  font-weight: bold;
  font-family: "Montserrat", "Segoe UI", sans-serif;
}
.home-boxes > p{
  font-size: 30px;
}
.content-container{
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
  margin: 90px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

}
.content-heading{
  margin-bottom: 25px;
  text-align: center;
}
.lgn-container{
  width:100%;
  max-width: 961px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 30px;
  padding: 25px 20px;
  background-color: rgb(204, 204, 204);
}
td {
    margin-bottom: 15px;
}
.btn {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
  width: 100%;
}
.btn:hover {
  background-color: #76AEED;
}
.orange{
  background-color: #F2781C;
}
.orange:hover{
  background-color: #ff9b54;
}
.btn-center-box{
  display: flex;
  justify-content: center;
}
.form-row {
  margin-bottom: 1.3em;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.form-label {
  margin-right: 1em;
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: lightgrey;
  border: 2px solid black;
}
.edit-icon{
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 17%;
}
.warning-icon{
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20%;
}
.icon-flex{
  display:flex;
}
.extra-hw-box{
  display: flex;
  width: 90%;
  padding: 15px;
  background-color: #e8e8e8;
  margin-bottom: 15px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.styled-select select{
  width:200px;
  overflow-y: scroll;
}
figure{
  display:none;
}
.button-container{
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height:100%;
  width: 45%;
}

form input {
  font-family: "robotoregular", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
}

.configure-row{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: #F2F2F2;
  padding: 7px 1px;
  width: 100%;
}

.configure-row:last-of-type{
  margin-bottom: 10px;
}
.configure-row label{
  margin-right: 10px;
}
.hw-textarea{
  padding: 15px;
  width:100%;
  height: 200px;
  font-family: "Segoe UI", sans-serif;
}
.about-container{
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.about-container p{
  text-align: center;
  font-family: "robotoregular", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.date{
  display:block;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #b2b2b2;
  font-size:12px;
}
.QR{
  width: 30%;
  margin: 0 auto;
}
.detail-container{
  background-color: #505050;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23353535' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
.detail-heading{
  color: white;
}

@media only screen and (max-width: 400px) {}


/* Tablet Styles */

@media only screen and (min-width: 401px) and (max-width: 960px) {}


/* Desktop Styles */

@media only screen and (min-width: 961px) {

  .index-container,.index-button-container{
    width: 961px;
  }
  .menu-container {
    width: 961px;
    flex-direction: row;
  }
  .log-container{
    width: 961px;
  }
  .hi-message,.menu-text{
    font-size: 1.2em;
  }
  .hi-message{
    display: inline;
    color: #FFFFFF;
  }
  .course-name-box{
    font-size: 1.1em;
  }
  header {
    height: 60px;
  }
  .home-boxes{
    display: none;
    flex-direction: row;
  }
  .box-label{
    display: block;
  }
  .log-container-row{
    height: 110px;
  }
  .menu {
    width: 550px;
    justify-content: flex-end;
  }
  .extra-hw-box{
    width: 961px;
  }
  .menu>li {
    margin-right: 50px;
  }
  .menu>li:last-of-type {
    margin-right: 0px;
  }
  .index-heading-text,.index-banner-text{
    text-align: left;
  }
  .index-logo{
    display: block;
    width: 30%;
  }
  .index-container{
    flex-direction: row;
  }
  .button{
    margin: 50px;
  }
  .button-container{
    display:flex;
  }
  figure{
    display:inherit;
    width:100%;
    height:100px;
    cursor:pointer;
    perspective:500px;
    -webkit-perspective:1300px;
    margin:1.3em 0;
  }
  figure div{
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    transition:0.25s;
    -webkit-transition:0.25s;
  }
  figure:hover div{
    transform:rotateX(-90deg);
  }
  .cool-button{
    width:280px;
    height:100%;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
    border:5px solid #24292E;
    font-family:'robotoregular',sans-serif;
    line-height:1.5em;
    font-size:18pt;
    font-weight: bold;
    text-align:center;
    text-transform:uppercase;
  }
  .cool-button:nth-child(1){
    color:#adadad;
    background:rgba(0,0,0,0.3);
    transform: translate3d(0, 0, 50px);
    -webkit-transform: translate3d(0, 0, 50px);
  }
  .cool-button:nth-child(2){
    color:#FFF;
    background:#24292E;
    transform: rotateX(90deg) translate3d(0, 0, 50px);
    -webkit-transform: rotateX(90deg) translate3d(0, 0, 50px);
  }
  .lgn-container{
    padding:35px;
  }
  .styled-select select{
    height: 100px;
  }
}
